.MostDrafted {
    color: black;
    font-size: 1.5rem;
}

.Animation {
    color: green;
    display: inline-block;
    font-family: 'Play', sans-serif;
    margin-left: 2.5rem;
    opacity: 0;
    transform: translateX(2.25rem);
    transition: all 1s ease-out;
}