.SubmitSelections {
    background: #ebebeb;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    transition: all 0.35s ease-out;
}

.MainContent {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.Controls {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 1.5%;
}