.LastWeekWinners {
    color: black;
    font-size: 1.5rem;
}

.LastWeekWinners h4 {
    align-items: center;
    color: blue;
    display: flex;
    font-size: 1.1rem;
    font-weight: bold;
    justify-content: center;
}

.AnimationContainer {
    margin-left: 2.5rem;
    overflow: hidden;
    width: 12rem;
}

.Animation {
    animation: cycle 15s linear infinite;
    display: flex;
    font-family: 'Play', sans-serif;
}

.Animation span {
    display: inline-block;
    color: green;
    font-family: 'Play', sans-serif;
    margin: 0 5rem;
    transform: translateX(105%);
    white-space: nowrap;
}

@media (min-width: 550px) {
    .LastWeekWinners h4 {
        font-size: 1.5rem;
    }
}

@keyframes cycle {
    0% {
        transform: translateX(105%);
    }
    100% {
        transform: translateX(-675%);
    }
}