.Selections {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0.5rem 0.5rem 2.5rem;
    text-align: center;
}

.Selection {
    margin: 1rem;
}