.RoundSummary {
    color: black;
}

.RoundSummary h2 {
    margin-bottom: 0.5rem;
    text-align: center;
}

.Selections {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 490px;
    justify-content: center;
    overflow: auto;
}

.Summary h4 {
    margin: 0.5rem 0.25rem;
}