.Paper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 25rem;
    padding: 2rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 28%;
}

@media (max-width: 1200px) {
    .Paper {
        margin: auto;
        position: static;
        width: 100%;
    }
}