.CorgiSwim {
    animation: flood 5s ease-out;
    background: #00f7ff56;
    background: linear-gradient(#00f7ff28, #00f7ff);
    height: 10%;
    margin-top: 2rem;
    position: relative;
    left: -2rem;
    width: 110%;
}

.CorgiSwim img {
    animation: swim 35s infinite;
    position: absolute;
    top: -2.5rem;
    width: 8%;
}

@keyframes flood {
    0% {
        transform: translateY(5rem);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes swim {
    0% {
        left: -20%;
    }
    100% {
        left: 120%;
    }
}