.Banner {
    background: white;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.5);
    left: 0;
    overflow: hidden;
    padding: 0.5rem;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all 0.35s ease-out;
    width: 100%;
}

.BannerContent {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 500px;
    opacity: 0;
    transition: all 1s ease-out;
    transform: translateY(-2rem);
    width: 90%;
}

.BannerContent h4 {
    margin: 0;
}