.Board {
    -ms-overflow-style: none;
    scrollbar-width: none;
    background: #fcfafa;
    border-radius: 0 0 32px 0;
    box-shadow: -16px -16px 32px 1px rgba(0, 0, 0, 0.5) inset;
    height: 90vh;
    left: 0;
    overflow: auto;
    padding: 0.5rem;
    position: fixed;
    top: 0;
    width: 75%;
}

.Board::-webkit-scrollbar {
    display: none;
}