.Timer {
    opacity: 0.6;
    position: fixed;
    right: 0;
    top: 250px;
    transition: all 0.5s ease-out;
    width: 25%;
}

.Timer:hover {
    opacity: 1;
}

.Time {
    background: #1b1b1b;
    padding: 0.25rem;
    text-align: center;
}

.TimerPaused {
    background: lightgreen;
    cursor: pointer;
    padding: 0.25rem;
    text-align: center;
}