.DarkModeSlider {
    background: #d8d8d8;
    border-radius: 32px;
    cursor: pointer;
    height: 1.5rem;
    transition: all 0.35s ease-out;
    width: 3rem;
}

.DarkModeSlider button {
    align-items: center;
    background: #acacac;
    border: none;
    border-radius: 50%;
    display: flex;
    height: 2rem;
    justify-content: center;
    outline: none;
    transform: translate(-0.25rem, -0.2rem);
    transition: all 0.35s ease-out;
    width: 2rem;
}

.DarkModeSlider svg {
    padding: 0;
}