.Container {
    cursor: pointer;
    position: relative;
}

.Player {
    background: #7e7e7e;
    border: 1px solid black;
    height: 150px;
    margin: 0.25rem 0;
    overflow: hidden;
    transition: all 0.25s ease-out;
}

.Player:hover {
    background: #979797;
}

.Player img {
    float: left;
    object-fit: contain;
    padding-bottom: 0.25rem;
    padding-right: 0.25rem;
    width: 35%;
}

.Player h4 {
    font-size: 1.2rem;
    font-weight: normal;
    padding-left: 0.25rem;
    word-break: break-word;
}