.PickStreakLeaders {
    color: black;
    font-size: 1.5rem;
}

.Animation {
    animation: slide 4s infinite;
    color: green;
    display: inline-block;
    font-family: 'Play', sans-serif;
    margin-left: 2.5rem;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(2.5rem);
    }
    10% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-2.5rem);
    }
}