.SubmittedSelection {
    cursor: pointer;
    font-weight: bold;
    height: 12rem;
    margin: 0.7rem 1%;
    padding: 0.25rem;
    position: relative;
    transition: all 0.25s ease-out;
    width: 12rem;
}

.SubmittedSelection:hover {
    box-shadow: 0 1px 4px 2px rgba(255, 255, 255, 0.5);
}

.SubmittedSelection p {
    margin-bottom: 0.25rem;
    word-wrap: break-word
}

@media (max-width: 1200px) {
    .SubmittedSelection {
        width: 47%;
    }
}

@media (max-width: 585px) {
    .SubmittedSelection {
        width: 100%;
    }
}