.Selection {
  align-items: center;
  border: 2px ridge #ccc;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-between;
  min-width: 10rem;
  position: relative;
  text-align: center;
  transition: all 0.5s ease-out;
}

.Selection h4 {
  bottom: 0.25rem;
  left: 0.25rem;
  position: absolute;
  text-align: left;
}

.Selection h4,
.Selection p {
  margin: 0;
  word-wrap: break-word;
}

.Selection p {
  font-size: 1.3rem;
  line-height: 1.75;
}

.Selection img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.EditDeleteButtons {
  bottom: 1.25rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0.5rem;
}

.LockIn {
  background: #00bb00;
  border: none;
  border-radius: 32px;
  box-shadow: 0 1px 0 2px #079707;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  margin: 1rem;
  outline: none;
  padding: 0.5rem 1.5rem;
  transition: all 0.15s ease-out;
}

.LockIn:hover {
  background: #2be42b;
}

.LockIn:active {
  background: #079707;
  box-shadow: 0 0 0 0;
}

.LockIn[disabled] {
  background: #ccc;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.8;
}

.Overlay {
  background: linear-gradient(rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.95));
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 5;
}

.Overlay:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.35) 70%, rgba(0, 0, 0, 0.95));
}
