.Modal {
    background: #313131;
    border: 8px solid #616161;
    border-radius: 16px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    height: initial;
    left: 5%;
    max-width: 1000px;
    padding: 1rem;
    position: fixed;
    top: 10%;
    transition: all 1.25s cubic-bezier(0.5,-0.35, 0.38, 1.39);
    width: 90%;
    z-index: 100;
}

@media (max-width: 374px) {
    .Modal {
        top: 2%;
    }
}

@media (min-width: 1000px) {
    .Modal {
        left: 50%;
        margin-left: -30%;
        width: 60%;
    }
}

@media (min-width: 1700px) {
    .Modal {
        margin-left: -500px;

    }
}