.Modal {
    background: #313131;
    border: 8px solid #616161;
    border-radius: 16px;
    box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.7);
    left: 30%;
    padding: 1rem;
    position: fixed;
    top: 15%;
    transition: all 1.25s cubic-bezier(0.5,-0.35, 0.38, 1.39);
    width: 40%;
    z-index: 100;
}