.AccountContainer {
    background: #e4e4e4;
    height: 100vh;
}

.Account {
    color: rgba(0, 0, 0, 0.5);
    margin: auto;
    max-width: 900px;
    padding: 10% 1rem;
    width: 90%;
}

.AccountDisplay {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.Display {
    height: 75%;
    padding: 1rem 3rem;
}