.AccountContainer {
    background: #e4e4e4;
    height: 100vh;
}

.Account {
    color: rgba(0, 0, 0, 0.5);
    height: 75%;
    margin: auto;
    max-width: 900px;
    padding: 2% 1rem;
    width: 90%;
}

.AccountDisplay {
    margin-top: 2rem;
}

.Display {
    width: 100%;
}

@media(min-width: 475px) {
    .Account {
        padding: 10% 1rem;
    }
    
    .AccountDisplay {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    
    .Display {
        padding: 0 0 1rem 3rem;
    } 
}