.AddSelection {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.AddSelection img {
    border-radius: 50%;
    height: 7rem;
    margin: 1rem auto;
    object-fit: cover;
    width: 7rem;
}

.Captcha {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
}

.ButtonSubmit {
    margin: 1rem auto 0.5rem !important;
}

.AccountIcon {
    color: blue;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
    transition: all 0.2s linear !important;
}

.AccountIcon:hover {
    color: #0051ff;
}