.AddSelection {
    width: 100%;
}

.Captcha {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
}

.ButtonSubmit {
    margin: 1rem auto 0.5rem !important;
}

.AccountIcon {
    color: blue;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.AccountIcon:hover {
    color: #4444ff;
}