.Round {
    display: flex;
    flex-direction: column;
    padding: 0 0.25rem;
    position: relative;
}

.Round h2 {
    cursor: pointer;
}

.Selections {
    display: flex;
    flex-direction: column;
}