.ClearBoard {
    align-items: center;
    color: initial;
    display: flex;
    height: 100%;
    text-align: center;
}

.ClearBoard h1 {
    margin-bottom: 1rem;
}

.Confirm,
.Cancel {
    background: #19c519;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.25rem;
    margin: 1rem;
    padding: 0.5rem;
    transition: all 0.25s ease-out;
}

.Confirm:hover {
    background: #0d970d;
}

.Cancel {
    background: #ff5858;
}

.Cancel:hover {
    background: #c03a3a;
}